<!-- 푸터 -->
<div class="my-footer-size my-fotter">
    <div class="jumbotron d-flex footer-box">
        <div>
            <h2 class="nav justify-content-start"></h2>
            <center><img src="/images/recipeLogo.png" width="150" height="100" alt="Logo"></center>
        </div>
        <div style="padding: 15px;">
            <span>Recipe Market</span><br>
            <span>제작 : 정성현 정재원 고아라 구아현 이선경</span><br>
            <span>Copyright 2022. greenBigdata. All Rights Reserved.</span>
        </div>
    </div>
</div>
</div>

</body>

</html>