<!-- 푸터 -->
<div class="my-footer-padding-top my-footer-size">
    <div class="jumbotron d-flex">
        <div>
            <h2 class="nav justify-content-start"></h2>
            <center><img src="/images/recipeLogo.png" width="150" height="100" alt="Logo"></center>
        </div>
        <div>
            <span>Recipe Market</span>
            <p>Bootstrap is the most popular HTML, CSS...</p>
        </div>
    </div>
</div>
</div>

</body>

</html>