<!-- 푸터 -->
<div class="main-padding-lg">
    <div class="jumbotron">
        <h1>Recipe Market</h1>
        <p>Bootstrap is the most popular HTML, CSS...</p>
    </div>
</div>
</div>

</body>

</html>