<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
</head>

<body>
    <!-- 댓글 등록 시작 -->
    <div class="card">
        <form action="/s/post/{{postId}}/comment" method="post">
            <div class="card-body">
                <textarea name="content" class="form-control" rows="1"></textarea>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">등록</button>
            </div>
        </form>
    </div>
    <!-- 댓글 등록 끝 -->

    <!-- 댓글 리스트 시작 -->
    <hr />
    <div class="card">
        <div class="card-header"><b>댓글 리스트</b></div>
        <ul id="reply-box" class="list-group">
            {{#comments}}
            <li class="list-group-item d-flex justify-content-between">
                <div id="comment-{{comment.id}}">{{comment.content}}</div>
                <div class="d-flex">
                    <div class="font-italic">작성자 : {{comment.user.username}} &nbsp;</div>
                    {{#auth}}
                    <button id="btn-{{comment.id}}" type="button" class="badge bg-primary"
                        onclick="updateComment({{comment.id}},{{comment.content}})">수정</button>
                    <button class="badge bg-primary" onclick="deleteComment('{{comment.id}}');">삭제</button>
                    {{/auth}}
                </div>
            </li>
            {{/comments}}
        </ul>
    </div>
    <!-- 댓글 리스트 끝 -->

    <script>

        function confirm(commentId, content) {
            $(`#comment-${commentId}`).replaceWith(`<div id="comment-${commentId}">${content}</div>`);
            $(`#btn-${commentId}`).replaceWith(`<button id="btn-${commentId}" type="button" class="badge bg-primary" onclick="updateComment(${commentId},${content})">수정</button>`);
        }


        function updateComment(commentId, content) {
            $(`#comment-${commentId}`).replaceWith(`<input id="comment-${commentId}" type="text" value=${content} />`);
            $(`#btn-${commentId}`).replaceWith(`<button id="btn-${commentId}" type="button" class="badge bg-primary" onclick="confirm(${commentId},${content})">확인</button>`);
        }



        async function deleteComment(commentId) {
            let response = await fetch(`/s/api/comment/${commentId}`, {
                method: "DELETE"
            });
            if (response.status == 200) {
                alert("삭제 성공");
                location.reload(); // ajax + ssr
            } else {
                alert("삭제 실패");
            }
        }
    </script>
</body>

</html>