{{> /layout/listHeader}}

<div class="my-padding-top-lg d-flex align-items-center" style="flex-direction:column">

    <div>
        <iframe style="width: 1100px; height: 800px; margin-top:50px"
            src="https://blog.naver.com/yee1036/222725624265?isInf=true" id="child-iframe"></iframe>
    </div>

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn my-btn-sm-primary">즐겨찾기 추가</button>
    </div>

    <div>
        <div class="card">
            <div class="card-header"><b>댓글 리스트</b></div>
            <ul id="reply-box" class="list-group">

                {{#comments}}
                <li class="list-group-item d-flex justify-content-between">
                    <div>{{comment.content}}</div>
                    <div class="d-flex">
                        <div class="font-italic">작성자 : {{comment.user.username}} &nbsp;</div>
                        {{#auth}}
                        <button class="badge bg-primary" onclick="deleteComment('{{comment.id}}');">삭제</button>
                        {{/auth}}
                    </div>
                </li>
                {{/comments}}

            </ul>
        </div>
    </div>
</div>

{{> /layout/footer}}