{{> /layout/listHeader}}
<!-- 리스트 상단 -->
<div class="my-font-sm2 my-padding-bottom-sm my-padding-top-lg d-flex justify-content-between"
    style="width: 950px; margin:auto;">
    <div> 총 몇개</div>
    <div class="d-flex">
        <div>인기순 </div>
        <div> | </div>
        <div> 최신순</div>
    </div>
</div>
<!-- 리스트 상단 끝 -->
<!-- 리스트 목록 -->
<div class="d-flex justify-content-center">
    <div class="" style="width: 1100px;">
        <div class="gridbox2">
            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg"
                        class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">싱싱한 소고기 레시피</h5>
                </div>
            </div>

            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg"
                        class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">싱싱한 소고기 레시피</h5>
                </div>
            </div>

            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg"
                        class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">싱싱한 소고기 레시피</h5>
                </div>
            </div>

            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg"
                        class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">싱싱한 소고기 레시피</h5>
                </div>
            </div>

            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg"
                        class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">싱싱한 소고기 레시피</h5>
                </div>
            </div>

            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg"
                        class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">싱싱한 소고기 레시피</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 리스트 목록 끝 -->

<!-- 버튼 -->
<ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
</ul>
<!-- 버튼 -->
{{> /layout/footer}}