<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <style>

    </style>

</head>

<body>


    <div class="container-fluid">
        <h1>리스트 페이지</h1>
        <br />
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>썸네일</th>
                        <th>제목</th>
                        <th>url</th>
                        <th>작성일</th>
                        <th>수정일</th>
                    </tr>
                </thead>
                <tbody>
                    {{#data}}
                    {{#posts}}
                    <tr>
                        <td>{{#id}}{{id}}{{/id}}{{^id}}null{{/id}}</td>
                        <td>{{title}}</td>
                        <td>{{thumnail}}</td>
                        <td>{{url}}</td>
                        <td>{{createDate}}</td>
                        <td>{{updateDate}}</td>
                    </tr>
                    {{/posts}}
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <ul class="pagination justify-content-center">

            <li id="first" class="page-item"><a class="page-link" href="/post/?page=1"> << </a></li>
            <li id="prev" class="page-item"><a class="page-link" href="/post/?page={{prev}}"> < </a></li>
            
            {{#pageNumbers}}
            <li class="page-item"><a class="page-link" href="/post/?page={{.}}">{{.}}</a></li>
            {{/pageNumbers}}

            <li id="next" class="page-item"><a class="page-link" href="/post/?page={{next}}"> > </a></li>
            <li id="last" class="page-item"><a class="page-link" href="/post/?page={{posts.totalPages}}"> >> </a></li>

        </ul>
    </div>

    {{/data}}

</body>

</html>