{{> /layout/listHeader}}
<!-- 리스트 상단 -->
{{#data}}
<div class="my-font-sm2 my-padding-bottom-sm my-padding-top-lg d-flex justify-content-between" style="width: 950px; margin:auto;">
    <div> 총 몇개</div>
    <div class="d-flex">
        <div>인기순 </div>
        <div> | </div>
        <div> 최신순</div>
    </div>
</div>
<!-- 리스트 상단 끝 -->
<!-- 리스트 목록 -->
<div class="d-flex justify-content-center">
    <div class="" style="width: 1100px;">
        <div class="gridbox2">
            <!-- 클릭시 id를 통해 요청을 할 수 있게 해줘야한다. -->
            {{#posts}}
            <div class="card border-0">
                <div class="my-img-box1">
                    <img src="{{#thumnail}}{{thumnail}}{{/thumnail}}{{^thumnail}}#{{/thumnail}}" class="card-img-top my-img-cover" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-font-sm2">{{title}}</h5>
                </div>
            </div>
            {{/posts}}

        </div>
    </div>
</div>
<!-- 리스트 목록 끝 -->

<!-- 페이징 -->
<div class="container">
    <ul class="pagination justify-content-center">

        <li id="first" class="page-item">
            <a class="page-link" href="/post/?page=1">
                << </a>
        </li>
        <li id="prev" class="page-item">
            <a class="page-link" href="/post/?page={{prev}}">
                < </a>
        </li>

        {{#pageNumbers}}
        <li class="page-item"><a class="page-link" href="/post/?page={{.}}">{{.}}</a></li>
        {{/pageNumbers}}

        <li id="next" class="page-item"><a class="page-link" href="/post/?page={{next}}"> > </a></li>
        <li id="last" class="page-item"><a class="page-link" href="/post/?page={{posts.totalPages}}"> >> </a></li>

    </ul>
</div>
<!-- 페이징 -->
{{/data}} {{> /layout/footer}}