{{> /layout/joinHeader}}

<!-- 회원가입폼시작 -->
<div class="my-padding-top-lg">
    <!-- 사진
    <div class="my-flex-item1 my-img-login">
        <img class="my-userimg-cover my-profile-img "
            src="https://i1.sndcdn.com/avatars-000373392764-zp0p80-t500x500.jpg" alt="">
    </div> -->
    <!-- 정보 -->
    <center>
        <div style="width: 700px; margin:auto">
            <form action="/join" method="post" onsubmit="return validation()" class="was-validated">
                <div class="my-padding-bottom-md">
                    <h4>회원가입</h4>
                </div>

                <div class="my-error-box my-hidden">
                </div>

                <div class="form-group">
                    <div class="d-flex">
                        <span class="my-flex-item1 my-text-center">아이디 </span>
                        <input type="text" class="form-control my-flex-item3" id="username" placeholder="아이디를 입력해주세요"
                            name="username" minlength="4" maxlength="20" required />
                    </div>
                    <div class="valid-feedback">Valid.</div>
                </div>

                <div class="form-group">
                    <div class="d-flex">
                        <span class="my-flex-item1 my-text-center">닉네임</span>
                        <input type="text" class="form-control my-flex-item3" id="nickname" placeholder="닉네임을 입력해주세요"
                            name="nickname" minlength="1" maxlength="12" required />
                    </div>
                    <div class="valid-feedback">Valid.</div>
                </div>

                <div class="form-group">
                    <div class="d-flex">
                        <span class="my-flex-item1 my-text-center">비밀번호</span>
                        <input type="password" class="form-control my-flex-item3" id="password"
                            placeholder="비밀번호를 입력해주세요" name="password" minlength="8" maxlength="16" required />
                    </div>
                    <div class="valid-feedback">Valid.</div>
                </div>

                <div class="form-group">
                    <div class="d-flex">
                        <span class="my-flex-item1 my-text-center">비밀번호 확인</span>
                        <input type="password" class="form-control my-flex-item3" id="same-password"
                            placeholder="비밀번호를 한번 더 입력해주세요" name="same-password" minlength="8" maxlength="16"
                            required />
                    </div>
                    <div class="valid-feedback">Valid.</div>
                </div>

                <div class="form-group">
                    <div class="d-flex">
                        <span class="my-flex-item1 my-text-center">이메일</span>
                        <input type="email" class="form-control  my-flex-item3" id="email" placeholder="이메일을 입력해주세요"
                            name="email" minlength="1" maxlength="60" required />
                    </div>
                    <div class="valid-feedback">Valid.</div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn my-btn-sm-primary">회원가입</button>
                </div>
            </form>
        </div>
    </center>
</div>
<!-- 회원가입폼 끝 -->

<script>

    let valid = {
        username: {
            state: false,
            msg: ""
        },
        password: {
            state: false,
            msg: ""
        },
        nickname: {
            state: false,
            msg: ""
        },
        email: {
            state: false,
            msg: ""
        }
    }

    $("#username").focusout(() => {
        usernameSameCheck();
    });

    $("#nickname").focusout(() => {
        nicknameSameCheck();
    });

    $("#password").focusout(() => {
        passwordSameCheck();
    });

    $("#same-password").focusout(() => {
        passwordSameCheck();
    });

    $("#email").focusout(() => {
        passwordSameCheck();
    });

    function validation() {
        if (valid.username.state && valid.password.state && valid.nickname.state) {
            return true;
        } else {
            let errorMsgs = ``;

            errorMsgs += `${valid.username.msg}<br/>`;
            errorMsgs += `${valid.password.msg}<br/>`;
            errorMsgs += `${valid.nickname.msg}<br/>`;

            $(".my-error-box").html(errorMsgs);
            $(".my-error-box").removeClass("my-hidden");
            return false;
        }
    }

    async function usernameSameCheck() {
        let username = $("#username").val();

        let response = await fetch(`/api/user/username-same-check?username=${username}`);
        let responseParse = await response.json();

        if (response.status === 200) {
            if (!responseParse) {
                valid.username.state = false;
                valid.username.msg = "이미 사용중인 아이디입니다.";
            } else {
                valid.username.state = true;
                valid.username.msg = "";
            }
        } else {
            alert(responseParse);
        }
    }

    async function nicknameSameCheck() {
        let nickname = $("#nickname").val();

        let response = await fetch(`/api/user/nickname-same-check?nickname=${nickname}`);
        let responseParse = await response.json();

        if (response.status === 200) {
            if (!responseParse) {
                valid.nickname.state = false;
                valid.nickname.msg = "이미 사용중인 닉네임입니다.";
            } else {
                valid.nickname.state = true;
                valid.nickname.msg = "";
            }
        } else {
            alert(responseParse);
        }
    }


    function passwordSameCheck() {
        let password = $("#password").val();
        let samePassword = $("#same-password").val();

        if (password === samePassword) {
            valid.password.state = true;
            valid.password.msg = "";
        } else {
            valid.password.state = false;
            valid.password.msg = "패스워드가 동일하지 않습니다.";
        }
    }

    async function emailSameCheck() {
        let email = $("#email").val();

        let response = await fetch(`/api/user/email-same-check?email=${email}`);
        let responseParse = await response.json();

        if (response.status === 200) {
            if (!responseParse) {
                valid.email.state = false;
                valid.email.msg = "이미 사용 중인 이메일입니다.";
            } else {
                valid.email.state = true;
                valid.email.msg = "";
            }
        } else {
            alert(responseParse);
        }
    }

</script>

{{> /layout/footer }}