{{> /layout/joinHeader}}

<!-- 컨테이너 시작 -->
<div class="my-position-center form-box">

    <!-- 로그인 폼 시작 -->
    <div class="my-padding-top-lg ">
        <form action="/action_page.php" class="my-auth-form-box">
            <div>
                <h4>로그인</h4>
            </div>
            <div class="mb-3 mt-3">
                <input type="text" class="form-control" id="username" placeholder="아이디를 입력해주세요" name="username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" name="password">
            </div>
            <div class="form-check mb-3 d-flex">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember">
                    아이디 기억하기
                </label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary my-btn-lg">로그인</button>
            </div>
            <div class="my-padding-top-sm d-flex justify-content-between">
                <button type="submit" class="btn btn-primary my-btn-md">아이디 찾기</button>
                <button type="submit" class="btn btn-primary my-btn-md">회원가입</button>
                <button type="submit" class="btn btn-primary my-btn-md">비밀번호 찾기</button>
            </div>

        </form>
    </div>

    <!-- 컨테이너 끝 -->
</div>



{{> /layout/footer}}