{{> /layout/joinHeader}}

<!-- 로그인 폼 시작 -->
<div class="my-padding-top">
    <form action="/action_page.php" class="my_auth_form_box">
        <div>
            <h3>로그인</h3>
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="username" placeholder="아이디를 입력해주세요" name="username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요" name="password">
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>



{{> /layout/footer}}