<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .my_profile_rounded_img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
    </style>

</head>

<body>
    <h2>회원 정보 수정 페이지</h2>
    <div class="container">
        <input type="hidden" class="my_hidden" id="userId" value="{{principal.id}}" />
        <!-- 프로필  -->
        <div>
            <div class="d-flex justify-content-center">
                {{#principal}}
                {{#profileImg}}
                <img src="/upload/{{profileImg}}" class="my_profile_img_btn" id="profile-img-btn">
                {{/profileImg}}
                {{^profileImg}}
                <img src="https://i1.sndcdn.com/avatars-000373392764-zp0p80-t500x500.jpg" class="my_profile_img_btn"
                    id="profile-img-btn">
                {{/profileImg}}
                {{/principal}}
                <form id="fileForm">
                    <input type="file" class="my_hidden" id="profile-img-input" name="profileImgFile" />
                </form>
            </div>
            <div>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" value="{{principal.username}}"
                            name="username" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="nickname" value="{{principal.nickname}}"
                            name="nickname">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Enter new password"
                            name="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password-check" placeholder="Enter new password"
                            name="password-check">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" value="{{principal.email}}" name="email">
                    </div>
                    <button type="button" class="btn btn-primary" id="btn-update">회원 수정</button>
                    <button type="button" class="btn btn-warning" id="btn-delete">회원 탈퇴</button>
                </form>
            </div>

        </div>

        <script>
            let userId = $("#userId").val();
            // 회원 수정, 탈퇴 만지작대다보니 안됨 ㅜ
            // 프로필 이미지 등록 시작!!!!!!!!!!!!!!!!!============================
            $("#profile-img-btn").click(() => {
                $("#profile-img-input").click(); // 파일 선택창이 뜬다.
            });
            $("#profile-img-input").change((event) => {
                profileImgUpdate(event);
            }); // 파일을 선택하면!!
            async function profileImgUpdate(event) {
                // image/png 이런식의 파일임.
                let f = event.target.files[0];
                if (!f.type.match("image.*")) {
                    alert("이미지를 선택해주세요!");
                    return;
                }

                // Multipart File => header 가 필요 없음
                // multipart/form-data 로 파일을 전송하는 것이 가장 편하다.
                // form 태그 자바스크립트 객체 찾기 => fileForm
                // form 태그 key:value 데이터 변환 => formData
                let fileForm = $("#fileForm")[0];
                let formData = new FormData(fileForm);
                let response = await fetch(`/s/api/user/profile-img`, {
                    method: "put",
                    body: formData
                });
                if (response.status == 200) {
                    imgPreview(event, f);
                    alert("프로파일 변경 성공");
                } else {
                    alert("프로파일 변경 실패");
                }
            }
            function imgPreview(event, f) {
                let reader = new FileReader();
                // 콜백 (파일 이미지가 객체화 되면!!)
                reader.onload = (event) => {
                    //console.log(event.target.result);
                    $("#profile-img-btn").attr("src", event.target.result);
                }
                reader.readAsDataURL(f); // 비동기 실행(I/O)
            }
            // 프로필 이미지 등록 종료!!!!!!!!!!!!!!!!!============================

            // 안됨.........................
            // 회원정보 수정 시작!!!!!!!!!!!!!!!!!============================
            $("#btn-update").click(() => {
                update();
            });

            async function update() {
                // 1. jquery로 nickname, password, email 찾아서 자바스크립트 오브젝트로 만들기
                let updateDto = {
                    nickname: $("#nickname").val(),
                    password: $("#password").val(),
                    email: $("#email").val()
                }

                // 2. fetch 요청하기
                let response = await fetch(`/s/api/user/${userId}`, {
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    method: 'PUT',
                    body: JSON.stringify(updateDto) // 자바스크립트 오브젝트를 JSON으로 변환
                });

                let responseParse = await response.json(); // 이거... 머지????

                console.log(responseParse);

                // ResponseDto로 응답받아서 code가 1이면 alert창으로 수정 성공 띄우기
                if (responseParse.code == 1) {
                    alert("수정이 완료되었습니다.");
                    location.href = `/s/user/${userId}/update-form`;
                } else {
                    alert("수정에 실패했습니다.");
                }
            }
            // 회원정보 수정 종료!!!!!!!!!!!!!!!!!============================

            // 안됨.,.................................
            // 회원 탈퇴 시작!!!!!!!!!!!!!!!!!============================
            $("#btn-delete").click(() => {
                delete ();
            });

            // 회원 탈퇴 종료!!!!!!!!!!!!!!!!!============================
        </script>

</body>

</html>