{{> /layout/joinHeader}}

<!-- 유저수저폼시작 -->
<div class="my-padding-top-lg my-flex-container">
    <!-- 사진 -->
    <div class="my-flex-item1 my-img-box2 my-img-login">
        <div class="my-padding-bottom-md">
            <img class="my-userimg-cover my-profile-img "
                src="https://i1.sndcdn.com/avatars-000373392764-zp0p80-t500x500.jpg" alt="">
        </div>
        <div class="my-padding-top-md"><button type="submit" class="btn my-btn-sm-primary">회원탈퇴</button></div>
    </div>
    <!-- 정보 -->
    <div class="my-flex-item2">
        <form action="/action_page.php" class="was-validated">
            <div class="form-group">
                <div class="d-flex my-padding-bottom-sm">
                    <span class="my-flex-item1 my-text-center">아이디 </span>
                    <input type="text" class="form-control my-flex-item3" id="uname" readonly />
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex my-padding-bottom-sm">
                    <span class="my-flex-item1 my-text-center">닉네임</span>
                    <input type="text" class="form-control my-flex-item3" id="pwd" required />
                </div>
            </div>


            <div class="form-group">
                <div class="d-flex my-padding-bottom-sm">
                    <span class="my-flex-item1 my-text-center">비밀번호</span>
                    <input type="password" class="form-control my-flex-item3" id="pwd1" name="pswd1" required />
                </div>
            </div>


            <div class="form-group">
                <div class="d-flex my-padding-bottom-sm">
                    <span class="my-flex-item1 my-text-center">비밀번호 확인</span>
                    <input type="password" class="form-control my-flex-item3" id="pwd2" name="pswd2" required />
                </div>
            </div>


            <div class="form-group">
                <div class="d-flex my-padding-bottom-sm">
                    <span class="my-flex-item1 my-text-center">이메일</span>
                    <input type="email" class="form-control  my-flex-item3" id="pwd" name="email" required />
                </div>
            </div>


            <div class="d-flex justify-content-end">
                <button type="submit" class="btn my-btn-sm-black">수정</button>
            </div>
        </form>
    </div>
</div>
<!-- 회원가입폼 끝 -->

{{> /layout/footer}}