/* PrimaryColor */
.my_bg_primary {
    background-color:  #5F0080;
}

/*  SecondaryBackground */
.my_bg_secondary {
    background-color: #F7F7F7;
}

.my-font {
    background-color:  #4C4C4C;
}

.my-sub-font {
    background-color: rgb(153,  153,  153);
}

.my-title-font {
    color: rgb(51,  51,  51);
}

.my-font-color-black{
    color: black;
}

.my-font-color-white{
    color: white;
}