/* 
1. 로고 
2. 버튼(회원가입, 수정, 탈퇴)
3. 아이디찾기 버튼
4. 큰 버튼
5. 타이틀 텍스트 디자인 (회원가입,로그인, 찾기)
6. 작은 글자
7. 박스텍스트
8. fakeimage
10. 레시피 목록 텍스트
11. 리스트 레시피 사진
*/


/*폰트*/
body {
    font-family: 'Noto Sans KR',
        sans-serif;
}

 /*패딩*/
 .search-box-padding {
    padding-top: 180px;
}

.main-padding-lg {
    padding-top: 50px;
    padding-bottom: 20px;
}

.my-padding-right1 {
    padding-right: 8%;
}

.my-padding-side1 {
    padding-left: 8%;
    padding-right: 8%;
}

