/*패딩*/
.search-box-padding {
    padding-top: 180px;
}

.recipebox-padding-lg {
    padding-top: 50px;
    padding-bottom: 20px;
}

.my-padding-top-sm{
    padding-top: 7px;
}

.my-padding-top-lg{
    padding-top: 200px;
}

.my-padding-right1 {
    padding-right: 10%;
}

.my-padding-bottom-sm {
    padding-bottom: 15px;
}

.my-padding-bottom-md {
    padding-bottom: 30px;
}


/*플렉스*/
.my-flex-container{
    display: flex;
}

.my-flex-item1{
    flex: 1;
}
.my-flex-item2{
    flex: 2;
}

.my-flex-item3{
    flex: 3;
}

.my-flex-item4{
    flex: 3;
}

.my-flex-item5{
    flex: 5;
}

/* 텍스트 박스 */
.text-box{
    height: 38px;
    border: 1px solid #4C4C4C;
    border-radius: 5px;
}