<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>

    <style>
        .img-box {
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 70%;
        }
    </style>
</head>

<body>
    <div class="box">
        <img class="img-box"
            src="https://images.mypetlife.co.kr/content/uploads/2021/06/07161807/sq-lim-k4vhuUHv08o-unsplash-1024x683.jpg"
            alt="">
    </div>
</body>

</html>