<!DOCTYPE html>
<html lang="en">

<head>
    <title>Recipe Market</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <style>
        /*common*/
        body {
            font-family: 'Noto Sans KR',
                sans-serif;
        }

        /*네비게이션*/
        .my-nav-box {
            width: 100%;
            height: 160px;
            background-color: white;
        }

        /*패딩*/
        .search-box-padding {
            padding-top: 180px;
        }

        .main-padding-lg {
            padding-top: 50px;
            padding-bottom: 20px;
        }

        .my-padding-right1 {
            padding-right: 8%;
        }

        .my-padding-side1 {
            padding-left: 8%;
            padding-right: 8%;
        }

        /*카테고리 드롭다운*/
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /*font-size*/
        .my-font-sm {
            font-size: 5px;
        }

        .my-font-md {
            font-size: 17px;
        }

        .my-font-lg {
            font-size: 22px;
        }


        /*검색창*/
        .search {
            position: relative;
            width: 100%;

        }

        .search-box {
            width: 100%;
            height: 30px;
            border: 1px solid rgb(216, 216, 216);
            background-color: rgb(216, 216, 216);
            border-radius: 8px;
            padding: 10px 12px;
            font-size: 14px;
        }

        .search-img {
            position: absolute;
            width: 17px;
            top: 7px;
            right: 12px;
            margin: 0;
        }
    </style>

</head>

<body>

    <div class="container">
        <!-- 헤더 시작-->
        <div class="fixed-top ">
            <div class="my-nav-box">
                <div class="nav justify-content-end">
                    <div class="my-padding-right1">
                        <a class="my-font-sm" href=""> 회원가입 </a>
                        <span class="my-font-sm"> | </span>
                        <a class="my-font-sm" href=""> 로그인 </a>
                    </div>
                </div>

                <div>
                    <h2 class="nav justify-content-center"></h2>
                    <center><img src="recipeLogo.png" width="150" height="100" alt="Logo"></center>
                </div>

                <div class="my-padding-side1">
                    <ul class="nav nav-pills nav-fill ">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link my-font-md">카테고리</a>
                                <div class="dropdown-content ">
                                    <a class="nav-link" href="#">한식</a>
                                    <a class="nav-link" href="#">중식</a>
                                    <a class="nav-link" href="#">일식</a>
                                    <a class="nav-link" href="#">양식</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link my-font-md" href="#">인기레시피</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link my-font-md" href="#">신규레시피</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link my-font-md" href="#">추천레시피</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 헤더 끝-->

        <!--검색창-->
        <div class="d-flex justify-content-center search-box-padding ">
            <div class="search">
                <input class="search-box" type="text" placeholder="검색어 입력">
                <img class="search-img" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
            </div>
        </div>

        <!-- 바디 시작 -->
        <div>
            <!-- 인기레시피 -->
            <div>

                <div>
                    <div class="main-padding-lg">
                        <span class="my-font-lg d-flex justify-content-center">오늘의 인기레시피</span>
                    </div>
                </div>

                <div class="card-deck">
                    <div class="card">
                        <img src="http://img.danawa.com/prod_img/500000/809/915/img/12915809_1.jpg?shrink=330:330&_v=20201215105335"
                            width="150px" height="100px" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://i.ytimg.com/vi/1xbfK0i-hWE/maxresdefault.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="http://www.seoulilbo.com/news/photo/201604/133262_57745_4754.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://ppss.kr/wp-content/uploads/2020/12/1-9.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <!--인기레시피 카드-->
            </div>
            <!--인기레시피 전체-->


            <!-- 신규레시피 -->
            <div>

                <div>
                    <div class="main-padding-lg">
                        <span class="my-font-lg d-flex justify-content-center">오늘의 인기레시피</span>
                    </div>
                </div>

                <div class="card-deck">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <!--신규레시피 카드-->
            </div>
            <!--신규레시피 전체-->


            <!-- 추천레시피 -->
            <div>

                <div>
                    <div class="main-padding-lg">
                        <span class="my-font-lg d-flex justify-content-center ">오늘의 인기레시피</span>
                    </div>
                </div>

                <div class="card-deck">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">T.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <!--추천레시피 카드-->
            </div>
            <!--추천레시피 전체-->
            <!-- 바디 끝 -->

            <!-- 푸터 -->
            <div class="main-padding-lg">
                <div class="jumbotron">
                    <h1>Bootstrap Tutorial</h1>
                    <p>Bootstrap is the most popular HTML, CSS...</p>
                </div>
            </div>
        </div>

</body>

</html>